<h3>mittens!</h3>
<h4>{{message}}</h4>
<ul class="unstyled">
  {{#mittens}}
  <li><span class="ss-icon">check</span>{{this}}</li>
  {{/mittens}}
</ul>
<hr/>
<p>
  <a href="{{settingsPath}}">
    <span class="ss-icon">settings</span>
  </a>
</p>
