<h3><span class="ss-icon">navigate</span> Internet Compass</h3>
<canvas id="canvas" width="19" height="19" />

<button>get location and tab</button>

<p class="muted coords">You location</p>
<p class="muted url">You url</p>

<div class="form-actions">
  <a href="{{settingsPath}}">
    <span class="ss-icon">settings</span>
  </a>
</div>
