<h3><span class="ss-icon">navigate</span> Internet Compass</h3>
<canvas id="canvas" width="19" height="19" />

<div class="form-actions">
  <a href="{{settingsPath}}">
    <span class="ss-icon">settings</span>
  </a>
</div>
