<h3><span class="ss-icon">navigate</span> Internet Compass</h3>
<h4>{{message}}</h4>
<ul>
  {{#mittens}}
  <li>{{this}}</li>
  {{/mittens}}
</ul>

<div class="form-actions">
  <a href="{{settingsPath}}">
    <span class="ss-icon">settings</span>
  </a>
</div>
