<h3><span class="ss-icon">settings</span> Settings</h3>
<p class='alert alert-info'>
  <strong>No Settings Yet.</strong> We'll make some later.
</p>

<div class="form-actions">
  <a href="{{compassPath}}">
  <span class="ss-icon">
      back
    </span>
  </a>
</div>